<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LynSynch-Music Player</title>
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/side-playlist.css">
    <link rel="stylesheet" href="/mainPage.css">
    <link rel="stylesheet" href="/masterPlay.css">
</head>
<body>
    <header>
        <div class="logo">
            <i class='bx bx-pulse'></i>
            <a href="/">LynSynch</a>
        </div>
        <div class="nav-links">
            <button class="menu-btn" id="menu-open">
                <i class='bx bx-menu'></i>
            </button>
            <a href="/">Home</a>
            <a href="/lynsynch/music">Music</a>
            <a href="#">Playlist</a>
            <a href="#">Album</a>
        </div>
        <div class="search">
            <i class='bx bx-search'></i>
            <input type="text" placeholder="Type here to search">
        </div>
    </header>

    <aside class="playlist">
        <h1>Playlist</h1>
        <h4>
            <select>
                <option value="">Queue</option>
                <option value="">Playlist</option>
            </select>
        </h4>
        <div class="song-container">
            <p class="index">01</p>
            <img src="/assests/cover-images/warriyo-mortals.jpg" alt="">
            <div class="song-info">
                <p>Warriyo-mortals</p>
                <p>Laura Brehm</p>
            </div>
            <i class="fa-regular fa-heart"></i>
        </div>
        <div class="song-container">
            <p class="index">02</p>
            <img src="assests/cover-images/linkin-park.jpg" alt="">
            <div class="song-info">
                <p>In the End</p>
                <p>Linkin Park</p>
            </div>
            <i class="fa-regular fa-heart"></i>
        </div>
        <div class="song-container">
            <p class="index">03</p>
            <img src="assests/cover-images/landscape.jpg" alt="">
            <div class="song-info">
                <p>Landscape</p>
                <p>Best of NCS</p>
            </div>
            <i class="fa-regular fa-heart"></i>
        </div>
        <div class="song-container">
            <p class="index">04</p>
            <img src="assests/cover-images/raazi.jpg" alt="">
            <div class="song-info">
                <p>Raazi</p>
                <p>Arijit Singh</p>
            </div>
            <i class="fa-regular fa-heart"></i>
        </div>
        <div class="song-container">
            <p class="index">05</p>
            <img src="assests/cover-images/jarico.jpg" alt="">
            <div class="song-info">
                <p>Island</p>
                <p>Best of NCS</p>
            </div>
            <i class="fa-regular fa-heart"></i>
        </div>
    </aside>

    <main>
        <!-- Albums Section -->
        <section class="albums">
            <h1>Albums</h1>
            <div class="album-container">
                <div class="album">
                    <img src="/assests/cover-images/album1.jpg" alt="Album Cover">
                    <p>Album Title 1</p>
                    <p>Artist Name 1</p>
                </div>
                <div class="album">
                    <img src="/assests/cover-images/album2.jpg" alt="Album Cover">
                    <p>Album Title 2</p>
                    <p>Artist Name 2</p>
                </div>
                <div class="album">
                    <img src="/assests/cover-images/album3.jpg" alt="Album Cover">
                    <p>Album Title 3</p>
                    <p>Artist Name 3</p>
                </div>
                <div class="album">
                    <img src="/assests/cover-images/album4.jpg" alt="Album Cover">
                    <p>Album Title 4</p>
                    <p>Artist Name 4</p>
                </div>
            </div>
        </section>

        <!-- Artists Section -->
        <section class="artists">
            <h1>Popular Artists</h1>
            <div class="artist-container">
                <div class="artist">
                    <img src="/assests/artists/artist1.jpg" alt="Artist Name">
                    <p>Artist Name 1</p>
                </div>
                <div class="artist">
                    <img src="/assests/artists/artist2.jpg" alt="Artist Name">
                    <p>Artist Name 2</p>
                </div>
                <div class="artist">
                    <img src="/assests/artists/artist3.jpg" alt="Artist Name">
                    <p>Artist Name 3</p>
                </div>
                <div class="artist">
                    <img src="/assests/artists/artist4.jpg" alt="Artist Name">
                    <p>Artist Name 4</p>
                </div>
            </div>
        </section>
    </main>

</body>
</html>
